
@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}



    <body data-spy="scroll" data-target="#pb-navbar" data-offset="200">

        <section class="site-section badge-dark" style="padding-top: 2%;" id="section-about"></section>

        <div class="container badge-light">
            <div class="row mb-5 align-items-center">
                <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                    <img src="~/images/mrf.jpg" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="col-lg-5 pl-lg-5">
                    <div class="section-heading">
                        <h2>About <strong>Me</strong></h2>
                    </div>
                    <p class="lead">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p class="mb-5  ">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

                    <p>

                    </p>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-md-3 mb-3">
                    <div class="section-heading">
                        <h2>My <strong>Skills</strong></h2>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="skill">
                        <h3>Design(HTML,CSS,Bootstrap)</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <span>50%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill">
                        <h3>C#</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill">
                        <h3>C++</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                                <span>45%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill">
                        <h3>SQL Server</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                <span>30%</span>
                            </div>
                        </div>
                    </div>

                    <div class="skill">
                        <h3>Android</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                <span>35%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>


